html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
h2{
    text-transform: uppercase;
}
.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;    
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 20%;
    background-color: #1d3557;
}
.menu ul li{
    list-style-type: none;
    padding: 15px;
}
.selected{
    background-color: #457b9d;
    font-weight: 700;
}
li a{
    text-decoration: none;
    font-size: 18px;
    color: #f1faee;
    
}
.menu li:hover{
    font-weight: 700;
    background-color: #457b9d;
}
.header {
    min-height: 150px;
    display: flex;
    justify-content: center;
    background-color: #457b9d;
}
.header-img{
    max-height: 60vh;
}
.content {
    min-height: 300px;
    padding: 20px;
}
.content-wrapper{
    display: flex;
}
.content p{
    flex:2;
    text-indent: 15px;
}
.content img{
    flex:1;
    max-width: 250px;
}

.content ul{
    margin-bottom: 60px;
}

.content iframe{
    margin: 2% 20%; 
}
hr{
    border: 3px solid #e63946;;
}
.footer{
    min-height: 50px;
    background-color: #1d3557;
    font-size: 12px;
    color: #e6e6e6;
}

.footer hr{
    margin-right: 60%;
}

.footer ul{
    list-style: none;
    padding: 5px;
}

.footer li{
    padding: 5px;
}
.footer-wrapper{
    display: flex;
}
.footer-right{
    flex:1;
}

.footer-left{
    flex:1;
}

.footer iframe{
    margin: 15px 5px;
}

footer, footer a{
    font-size: 10px;
    color: rgb(134, 134, 134);
    text-align: center;
}

.form{
    display: flex;
    
}

.form-input{
    display: flex;
   justify-content: space-between; 
   min-width: 50vw;
   margin: 10px;
}

input{
    width: 500px;
}

textarea{
    resize: none;
    width: 500px;
    height: 100px;
}

.form-buttons{
    min-width: 60vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

button{
    height: 40px;
    width: 90px;
    border-radius: 20px;
    background-color: #1d3557;
    border: none;
    margin-left: 30px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}

button:hover{
    background-color: #457b9d;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

#content-photos img{
    margin: 5px 10%;
}
.table{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

th{
    background-color: #2b2b2b;
    color: #f1f1f1;
    padding: 5px 20px 5px 5px;
    font-size: 15px;
}

tr{
    padding: 0;
    margin: 0;
}
td{
    padding: 5px 30px 5px 5px;
    border: 1px solid #2b2b2b;
    border-spacing: 0px;
    font-size: 14px;
}